.App {
  height: 100vh;
  width: 100%;
  background-color: #F7F6F4;
}
.small-screen{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding-top: 35%;
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-size: large;
}
.small-book{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 767px) {
  .App {
    transform: rotate(90deg);
    transform-origin:bottom left;
    
    position:absolute;
    top:-100vw;
    
    height:100vw;
    width:100vh;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  justify-content: space-between; /* Align children from left to right */
  align-items: center;
  margin-top: 1%;
  font-size: calc(24px + 1vmin);
  color: #69635E;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: bolder;
}

.date-display{
  color: #69635E;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: normal;
  font-size: calc(4px + 1vmin);
  margin-left: 6%;
}

.weather-container {
  display: flex;
  flex-direction: column;
  margin-right: 6%;
}

.city-name{
  font-size: calc(4px + 1vmin);
  display: inline-block;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight:normal;
  color: #69635E;
}
.temperature {
  font-size: calc(4px + 1vmin);
  display: inline-block;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight:normal;
  color: #69635E;
}

.lines {
  position: relative;
  /* margin-left: 50%; */
}

.line1 {
  height: 2px;
  background-color: #69635E;
  width: 100%;
}

.line2 {
  height: 2px;
  background-color: #69635E;
  width: 100%;
  margin-top: 5%;
}

.cover-Content{
  font-size: calc(12px + 1vmin);
  display: inline-block;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight:bolder;
  color: #69635E;
  margin-top: 20%;
  margin-left: 4%;
  margin-bottom: 20%;
  align-items: center;
}

.newspaperCover{
  background-color: #F7F6F4;
  border-style:   solid;
  border-width:   2px;
  border-color: antiquewhite;
  box-sizing: border-box;
  border-radius: 0.5%;
}

.container {
  display: flex; 
  height: auto;
}

.p5 {
  flex-direction: column; /* Display the list items below each other */
  margin-right: 10%;
  flex: 1;
}

.list-container {
  flex-direction: column; /* Display the list items below each other */
  margin-left: 10%;
  flex: 1;
  height: auto;
  padding-bottom: 2%;
}

.Title-header {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: calc(8px + 1vmin);
  color: #69635E;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: bold;
}

ul.custom-list {
  flex-direction: column;
  list-style-type: none; /* Change the bullet style */
  margin: 0; /* Remove default margin */
  padding: 0;
  font-family: 'Bricolage Grotesque', sans-serif;
  background-color: #F7F6F4; /* Change the background color */
}

/* Target the <li> elements */
ul.custom-list li {
  margin-bottom: 5%; /* Add spacing between list items */
  font-size: 16px; /* Change the font size */
  color: #DCD7D9; /* Change the text color */
}

/*for list hover effect */
.year-popup {
  position: absolute;
  top: 0;
  left: -0.1em; /*Adjust the left value using em units */
  margin-left: -3em; /* Adjust the margin using em units */
  padding-left: 0.5em; /* Adjust the padding using em units */
  color: #69635E;
  display: none; /* Initially hide the year popup */
}

/* Show the year popup when hovering over the list item */
.work-item.hovered .year-popup {
  display: block;
}

.work-item {
  position: relative; /* Ensure proper positioning of the year popup */
  /* Add other styles for the work title here */
}

/* Style for the work-info container */
.work-info {
  position: relative; /* Ensure proper positioning of the year popup */
  padding-left: 0px; /* Adjust this value to create space for the year popup */
  transition: padding-left 0.2s; /* Add a smooth transition effect */
}

/* Move the project name to the right when hovering */
.work-item.hovered .work-info {
  padding-left: 1em; /* Adjust this value to move the name to the right */
  font-weight: bold;
  cursor: pointer;
  color: #69635E;
}

/* Define styles for the container */
.video-container {
   /* display: flex;  */
  /*align-items: center; /*Vertically center the content*/
  justify-content: center;
  position: relative; /*Relative positioning to allow absolute positioning of the video player*/
  flex: 2;
  padding-left: 10%;
  margin-right: 2%;
  overflow: hidden;
  max-height: 400px;
  padding-top: 8%;
}

/* .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 390;
  height: 100%;
  background-image: url('phoneframe.png');
  background-size: cover;
  z-index: -1;
} */

.About-title{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  margin-left: 10%;
  font-size: calc(8px + 1vmin);
  color: #69635E;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: bold;
}

.About-paragraph{
  margin-left: 10%;
  padding-bottom: 2%;
  width: 40%;
  color: #69635E;
  font-family: 'inter', sans-serif;
  font-weight: normal;

}

.About-link {
  color: #69635E; /* Change link text color to blue */
  text-decoration: underline; /*Add an underline to the links*/
}

.social-link-container{
  margin-left: 10%;
  padding-bottom: 8%;
}

.Social-link{
  font-size: calc(8px + 1vmin);
  color: #69635E;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: bold;
  margin-right: 2%;
}



.local-time span {
  font-size: calc(13px + 1vmin);
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: bold;
  color: #69635E;
}

.local-time span.blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Define the Bricolage Grotesque font */
@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf') format('tff');
  font-weight: normal;
  font-style: normal;
}

.placeholder-container {
  background-color: #F7F6F4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.placeholder-text {
  text-align: center;
  font-size: calc(24px + 1vmin);
  color: #69635E;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight:lighter;
}

.placeholder-box {
  height: 40%;
}

 /* @media (min-width: 769px) {
  .placeholder-rectangle {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 50%;
  }
}  */

